{{> header}}

<section class="hero-sec">
    <div class="grid-container">
        <div class="grid-item">
            <h2>About Me</h2>
            <br><hr><br><br>
            <div class="p-tag">
            <p>I am a passionate self taught web-developer from India. I have started my journeyas a WordPress developer,transitioned my journey into fullstack web development, Lookingahead for a fulfilling career in webdevelopment.</p>
            </div>
            <br><br>
             <h3>Skills :</h3>
            <br><br>
                <div class="grid-container skills-list">
                    <div class="grid-item">
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript</li>
                            <li>Handlebars.js</li>
                        </ul>
                    </div>
                    <div class="grid-item">
                        <ul>
                            <li>Node.js</li>
                            <li>Express.js</li>
                            <li>MongoDB</li>
                            <li>Rest API</li>
                        </ul>
                    </div>
                </div>
        </div>
        <div class="grid-item">
            <img src="/images/himanshu.png" alt="Himanshu Masant">
        </div>
    </div>
</section>