/* Hero Section */

.hero-sec {
  padding: 20vh 0;
}

.hero-sec img {
  transition: 1s;
}

.hero-sec img:hover {
  transform: rotate(10deg);
}

.hero-sec h2 {
  font-family: var(--heading-font);
  font-size: 5rem;
  font-weight: normal;
}

.hero-sec .p-tag {
  width: 90%;
}

.hero-sec p,
.hero-sec h3,
.hero-sec ul li {
  font-family: var(--text-font);
  font-size: 1.25rem;
}

/* Mobile View CSS */

@media only screen and (max-width: 500px) {
  /* Hero Section */

  .hero-sec {
    padding: 10vh 0;
  }

  .skills-list {
    grid-template-columns: auto auto;
  }
}
