/* Hero Section */

.hero-sec {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-sec div h1 {
  font-size: 8rem;
  font-family: var(--heading-font);
}

.hero-sec div h2 {
  font-size: 2rem;
  font-family: var(--text-font);
  letter-spacing: 1rem;
  font-weight: normal;
}

.hero-sec img {
  width: 75px;
  position: absolute;
  bottom: 25px;
}

/* Project Section */

.project-sec .grid-container {
  padding: 15vh 0;
}

.project-sec h2 {
  font-family: var(--text-font);
  font-size: 3rem;
  font-weight: normal;
}

.project-sec ul li {
  font-family: var(--text-font);
  font-weight: lighter;
  font-size: 1.25rem;
}

.project-sec img {
  transition: 0.5s;
}

.project-sec img:hover {
  transform: translateY(-25px);
}

/* Mobile View CSS */

@media only screen and (max-width: 500px) {
  /* Hero Section */

  .hero-sec div h1 {
    font-size: 5rem;
  }

  .hero-sec div h2 {
    font-size: 1rem;
    letter-spacing: 0.5rem;
  }

  /* Project Section */

  .project-sec .primary-button,
  .project-sec .secendory-button {
    margin: 10px auto;
  }

  .project-sec .grid-container {
    padding: 10vh 0;
  }
}
